@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
	--font-roboto: "Roboto", sans-serif;

	--color-light-bg: var(--color-stone-100);
	--color-light-text: var(--color-stone-900);

	--color-dark-bg: var(--color-stone-900);
	--color-dark-text: var(--color-stone-100);
}

@layer base {
	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}
